@import "@fortawesome/fontawesome-free/css/fontawesome";
@import "@fortawesome/fontawesome-free/css/regular";
@import "@fortawesome/fontawesome-free/css/solid";
@import "@fortawesome/fontawesome-free/css/brands";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
/* @import "@ionic/react/css/normalize.css"; */
/* @import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css"; */

/* Optional CSS utils that can be commented out */
@import "@ionic/react/css/padding.css";
/*
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css"; */

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 0; /* Firefox */
  }
}

.text-maincolor {
  @apply text-body-alt dark:text-secondary-alt;
}
.text-altcolor {
  @apply text-body dark:text-secondary;
}
.bg-altcolor {
  @apply bg-light-alt dark:bg-dark-alt;
}
.bg-maincolor {
  @apply bg-light  dark:bg-dark;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}
.button {
  @apply px-3 py-1 rounded-md bg-primary text-white hover:bg-primary-dark disabled:bg-primary-light font-display  cursor-pointer transition-colors duration-75;
}
.button-lg {
  @apply px-3 text-sm py-1 rounded-xl rounded-br-3xl bg-primary hover:bg-primary-dark disabled:bg-primary-light text-white  font-display cursor-pointer transition-colors duration-75;
}

/* todo: sperate into multi files */
.post_after {
  @apply relative z-[1];
}
.post_after::after {
  @apply absolute flex w-[2px] h-full top-0 bg-body-alt z-[-1] ms-7 mt-5;
}
